body {
    background: url(/images/flag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: rgb(54, 54, 54);
    text-align: center;
    font-family: Helvetica;
    color: black;
    position: relative;
    height: 100%;
    padding: 20px;
}

html {
    height: 100%;
    overflow: hidden;
}

.clockContainer {
    position: relative;
    top: -16px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    border: 1px solid transparent;
}

.clockOut {
    width: 80%;
    height: 80%;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.clockTop {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 40px;
    top: 11px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 18px;
    border-radius: 3px;
}

.clockNeedle {
    width: 50px;
    height: 2px;
    background: #302F2F;
    position: absolute;
    top: 50%;
    left: 10px;
    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -webkit-animation: needleAnimation 3s linear 0s infinite;
    animation: needleAnimation 3s linear 0s infinite;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes needleAnimation {
    from {}
    to {
        -webkit-transform: rotate(360deg);
    }
}


/* Standard syntax */

@keyframes needleAnimation {
    from {}
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}